/* styles.css */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Helvetica';
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    background: white;
    padding: 0 30px;
    z-index: 20;
}

header .logo {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 10px;
}

nav a {
    font-size: 17px;
    color: #636060;
    text-decoration: none;
}

.active {
    color: #343232;
    font-weight: 700;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* HERO */
.hero {
    margin-top: 70px;
    width: 100vw;
    height: 606px;
    position: relative;
}
.hero-img {
    width: 100%;
    height: 606px;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.hero-text h1 {
    font-size: 79px;
}

/* SERVICES */
.services {
    width: 100%;
    padding: 80px 100px;
}
.services-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
.services-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

/* RESPONSIVE */
@media(max-width:1024px){
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px){
    nav {
        position: absolute;
        top: 70px;
        right: 0;
        background:white;
        flex-direction: column;
        align-items: flex-start;
        padding:20px;
        width:200px;
        display:none;
    }
    nav.open {
        display:flex;
    }
    .burger {
        display: block;
    }
}

@media(max-width:480px){
    .hero-text h1 {
        font-size: 45px;
    }
    .services {
        padding: 40px;
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
}
