*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Helvetica';
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: white;
    padding: 0 50px; 
    z-index: 10;
}

header .logo {
    height: 50px; 
    width: auto;
}

nav a {
    margin: 0 15px; 
    font-size: 17px;
    color: #636060;
    text-decoration: none;
    font-weight: 400;
}


.active {
    color: #343232;
    font-weight: 700;
}

.hero{
    margin-top:70px;
    width:100vw;
    height:606px;
    position:relative;
}

.hero-img{
    width:100vw;
    height:606px;
    object-fit:cover;
}

.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    text-align:center;
}

.hero-text h1{
    font-size:79px;
    font-weight:700;
}

.hero-text p{
    font-size:19px;
    margin-top:10px;
}

.services {
    width: 100%;
    padding: 80px 100px;
}

.services-container {
    display: flex;
    gap: 60px; 
    flex-wrap: wrap;
}

.services-text {
    flex: 1;
    max-width: 350px; 
}

.services-text h2 {
    font-size: 28px;
    color: #010101;
    margin-bottom: 30px;
}

.services-text p {
    font-size: 18px;
    color: #636060;
    line-height: 1.6;
    margin-bottom: 50px; 
}

.services-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 20px;
}

.item img {
    width: 100%;
    height: 195px;
    object-fit: cover;
    display: block;
}

.item h3 {
    font-size: 19px;
    color: #343232;
    margin-top: 10px;
}

.item p {
    width: 100%;
    font-size: 18px;
    color: #636060;
    margin-top: 8px;
}
